// COLORS
//text
$primary-text-color: #333333;
$secondary-text-color: #555555;
//background
$primary-background-color: #ffffff;
$secondary-background-color: #d0d0d0;
//button
$button-color: #d81e05;
//border
$border-color: #777777;

//BUTTON + FILTER HEIGHT
$button-height: 36px;

//TAGS
$tag-height: 24px;

//BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//MARGINS
$margin-mobile: 16px;
$margin-tablet: 24px;

//PADDING
$padding-increment: 0.5rem;
