@use "../../Styles/Partials/variables" as *;
@use "../../Styles/Partials/mixins" as *;

.top-details {
  &__header {
    display: flex;
    justify-content: flex-end;
    padding: $padding-increment;

    @media (max-width: $tablet-breakpoint) {
      display: none;
    }
  }

  &__availability {
    display: flex;
    align-items: center;
    gap: $padding-increment;
    margin-top: $padding-increment;
  }


.top-details {
  @include flex(row, flex-start, flex-start);
  padding: $padding-increment * 2;
  gap: $padding-increment * 2;
  background-color: $primary-background-color;
  border-radius: 8px;
  margin-bottom: $padding-increment * 2;
  flex-grow: 1;

  @include tablet {
    flex-direction: column;
  }

  &__image-container {
    width: 300px;
    height: 300px;
    border-radius: 1rem;
    overflow: hidden;

  }

  &__image {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  &__name-icon {
    @include tablet {
      height: 100%;
      // width: 100%;
      flex-grow: 1;
    }
  }

  &__info {
    @include flex(row, space-between, center);
    flex-grow: 1;
    width: 100%;
  }

  &__header {
    @include flex(column, flex-start, flex-start);
    margin-bottom: $padding-increment;
    flex-wrap: wrap;
    gap: $padding-increment;
    font-size: 0.75rem;
    margin-top: $padding-increment;
  }

  &__wrapper {
    @include flex(row, center, center);
  }

  &__circle {
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    border-radius: 50px;
    margin-right: $padding-increment;
  }

  &__name {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }

  &__actions-mobile {
    display: none;

    @media (max-width: $tablet-breakpoint) {
      display: flex;
      justify-content: space-around;
      padding: $padding-increment;
    }
  }

  &__action-btn {
    background: none;
    border: none;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }

    &__description {
      margin: $padding-increment;
    }
  }

  &__specialty {
    color: $primary-text-color;
    margin: $padding-increment * 2 0;
  }

  &__location {
    color: $secondary-text-color;
    margin-bottom: $padding-increment;
  }

  &__availability {
    color: $secondary-text-color;
    font-style: italic;
  }
}
